body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content-area{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 1rem;
}

.content-slot {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 900px;
}

.content img{
    min-width: 550px;
}

.content iframe{
    min-width: 550px;
    min-height: 400px;
}


#headshot{
    width: 150px; 
    float: right; 
    rotate: -3deg; 
    position: absolute; 
    left: 10%; 
    top: 5rem;
    border-radius: 10px;
}

p{
    max-width: 40em;
    min-width: 250px;
    text-align:justify;
    margin: 0;
    line-height: 1.4rem;
}


.content img{
    width: 100%;
    border-radius: 7px;
}

#impressum{
    list-style: none;
}

footer, header {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin: 1rem;
}

@media (min-width: 600px) {
    #impressum{
        position:absolute; 
        right: 10px; top: 0px;
    }
}



@media (max-height: 770px) {
    #headshot{
        visibility: hidden;
    }
}

.error{
    font-size: 10rem;
    mar: 3rem;
    color: white;
    text-align:justify;
    line-height:normal;
}