/* Base Styles */
body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
    font-family: Merriweather, sans-serif;
    font-weight: 400;
    color: #101010;
    background-color: whitesmoke;
}

h1, h2 {
    font-weight: 900;
    font-family: "Bebas Neue", 'Arial Narrow Bold', sans-serif;
    color: #202020;
    margin: 0.5rem 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

p {
    min-width: 250px;
    text-align: justify;
    margin: 0;
    line-height: 1.8rem;
    color: #202020;
    box-sizing: border-box;
}

ul {
    margin: 0.5rem;
    padding: 0;
}

/* Button Styles */
button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.5rem;
    font-family: "Bebas Neue", 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 7px;
    border-style: dotted;
    box-sizing: border-box;
}

button:hover {
    background-color: #202020;
    color: whitesmoke;
}

.active-button {
    border-style: solid;
    background-color: #ffffff;
}

/* Layout and Structure */
.content-area {
    align-self: center;
}

.content {
    width: 100%;
    max-width: 50em;
    margin: 0 auto 1rem;
    padding: 1rem;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #efefef;
}

/* Media Elements */
.content img, .content iframe, .content video {
    width: 100%;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

.content iframe {
    height: 400px;
}

/* Headshot Image */
#headshot {
    width: 150px;
    position: absolute;
    left: 10%;
    top: 5rem;
    rotate: -3deg;
    border-radius: 10px;
}

/* Tech Stack Section */
.techstack {
    margin-top: 10px;
    font-family: "Bebas Neue", 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.techstack li {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 7px;
    padding: 5px 10px;
    list-style: none;
}

/* Header and Footer */
header, footer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    list-style: none;
}

/* Impressum */
#impressum {
    list-style: none;
}

.media {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.media img {
    height: auto; 
    object-fit: contain; 
}

@media (min-width: 600px) {
    #impressum {
        position: absolute;
        right: 10px;
        top: 0;
    }
}

/* Error Page Styling */
.error {
    font-size: 10rem;
    margin: 3rem;
    color: white;
    text-align: justify;
    line-height: normal;
}


/* Media Queries */
@media (max-height: 800px) {
    #headshot {
        visibility: hidden;
    }
}
