body, html {
    height: 100vh;
    color: #101010;
    background-color: lightg;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

h1{
    font-size: 1.7rem;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0.5rem 0 0.5rem 0;
}

h2{
    font-size: 1.2rem;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #707070;
    margin: 0.5rem 0 0.5rem 0;
}

.content-area{
    align-self: center;
    padding: 1rem;
}

.content {
    width: 100%;
    max-width: 50em;
    border-radius: 7px;
    margin: 0 auto 2rem auto;
    padding: 1rem;
    box-sizing: border-box;
}


#headshot{
    width: 150px; 
    float: right; 
    rotate: -3deg; 
    position: absolute; 
    left: 10%; 
    top: 5rem;
    border-radius: 10px;
}

p {
    min-width: 250px;
    text-align: justify;
    margin: 0;
    line-height: 1.5rem;
    box-sizing: border-box;
}


.content img, .content iframe {
    width: 100%;
    border-radius: 7px;
    box-sizing: border-box;
}

.content iframe{

    height: 400px;
}

#impressum{
    list-style: none;
}

footer, header {
    background-color: lig;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 1rem;
}

@media (min-width: 600px) {
    #impressum{
        position:absolute; 
        right: 10px; top: 0px;
    }
}



@media (max-height: 770px) {
    #headshot{
        visibility: hidden;
    }
}

.error{
    font-size: 10rem;
    margin: 3rem;
    color: white;
    text-align:justify;
    line-height:normal;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 130px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    border-style: dotted;
    box-sizing: border-box;
}

button:hover {
    background-color: black;
    color: white;
}